.navbar {
  padding: 25px 180px;
	color: #FFFFFF;
	background-color: #292929;
	position: relative;
	z-index: 2;
}

.navbar__item {
	font-size: 30px;
	font-weight: 300;
	margin-right: 50px;
	cursor: pointer;
}