.paymentList {
  background-color: #F9F9F9;
  border: 1px solid #c4c4c4;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);

  .header {
    padding: 36px;
    font-size: 30px;
    font-weight: 400;
    border-bottom: 1px dotted #928F94;
  }
}