.select {
  position: relative;

  .inputContainer {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 8px 20px;
    border-radius: 3px;
    width: 325px;
    height: 60px;

    .input {
      width: 100%;
  
      &::placeholder {
        color: #E5E5E5;
        font-size: 18px;
      }
    }

    .icon {
      width: 25px;
    }
  }

  .options {
    width: 100%;
    overflow-y: scroll;
    max-height: 235px;
    z-index: 2;
    top: 65px;
    border-radius: 3px;
    background-color: rgba(245, 244, 246, 1);
    position: absolute;

    .optionItem {
      padding: 4px 20px;

      &:hover {
        background-color: #FFCA62;
        cursor: pointer;
      }
    }

    &.options::-webkit-scrollbar { width: 0; }

  }

}