.mainHeader {
	height: 800px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: url('../../../../public/image/header-main-page-background.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	border-bottom: 8px solid #FFA800;
}