.addBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px;
  background-color: #fff;
  border: 1px solid #C4C4C4
}
.title {
  font-size: 30px;
  font-weight: 400;
}
